body {
		
		background: url(tło.webp) no-repeat center top fixed;
		text-align: center;
		background-color: #000;
	}
	
#butt{
		background-color: #3d2b1f;
		border: none;
		color: white;
		padding: 20px 40px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}
#menu
{
	margin-top: 100px;
	text-align: center;
}
footer{ 
	position: fixed;     
	text-align: center;    
	bottom: 10px; 
	width: 100%;
}  
